/*

 Extra small screen / phone           - xs: 0
 Small screen / phone                 - sm: 576px
 Medium screen / tablet               - md: 768px
 Large screen / desktop               - lg: 992px
 Extra large screen / wide desktop    - xl: 1200px

*/

.friends {
    h6 {
        color: $gray-500;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    h2 {
        font-family: 'Indie Flower', cursive;
    }

    .row {
        .tile-col {
            /*
             * Mixins from Bootstrap _grid.scss
             */
            @include make-col-ready();
            @include make-col(6);

            @include media-breakpoint-up(xs) {
                @include make-col(12); // 1 column
            }
            @include media-breakpoint-up(sm) {
                @include make-col(6); // 2 columns
            }
            @include media-breakpoint-up(md) {
                @include make-col(4); // 3 column
            }
            @include media-breakpoint-up(lg) {
                @include make-col(2); // 6 column
            }

            .tile {
                margin-bottom: 1rem;
                background-color: $gray-200;

                // https://www.w3schools.com/howto/howto_css_aspect_ratio.asp
                width: 100%;
                padding-top: 100%; /* 1:1 Aspect Ratio */
                position: relative; /* If you want text inside of it */

                p {
                    position: absolute;
                    top: 40%;
                    left: 0;
                    bottom: 0;
                    right: 0;

                    font-family: 'Indie Flower', cursive;
                    font-size: 2rem;
                }
            }
        }
    }
}
