$time: 0.5s;

.navbar {
    height: 5rem;

    background: transparent;

    a.navbar-brand {
        font-family: 'Indie Flower', cursive;
        font-size: 2.5rem;
        color: $white;

        -webkit-transition: all $time ease-in-out;
        -moz-transition: all $time ease-in-out;
        transition: all $time ease-in-out;

        svg {
            position: relative;
            top: 1rem;
            right: -0.7rem;

            fill: $white;
            fill-rule: evenodd;

            -webkit-transition: all $time ease-in-out;
            -moz-transition: all $time ease-in-out;
            transition: all $time ease-in-out;
        }
    }

    -webkit-transition: background $time ease-in-out, height $time ease-in-out;
    -moz-transition: background $time ease-in-out, height $time ease-in-out;
    transition: background $time ease-in-out, height $time ease-in-out;
}

.navbar-fixed-top {
    height: 3.5rem;

    background-color: $primary;
    border-bottom: 1px solid $white;
    opacity: 0.9;

    a.navbar-brand {
        font-size: 2rem;

        svg {
            width: 56px;
            height: 37px;
        }
    }
}
