section {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include media-breakpoint-up(md) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    h6 {
        color: $gray-500;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    h2 {
        font-family: 'Indie Flower', cursive;
    }
}
