//-
  The Counters section.

section.counters.bg-primary.text-light
    div.container
        div.row
            div.col-md-4
                div.row
                    div.col-md-3.col-2.offset-md-0.offset-3
                        i(aria-hidden="true").fa.fa-eye.icon
                    div.col-md-9.col-5
                        h3 50 million+
                        p Visits on this page.

            div.col-md-4
                div.row
                    div.col-md-3.col-2.offset-md-0.offset-3
                        i(aria-hidden="true").fa.fa-heart.icon
                    div.col-md-9.col-5
                        h3 49 999+
                        p Visitors love sheep.

            div.col-md-4
                div.row
                    div.col-md-3.col-2.offset-md-0.offset-3
                        i(aria-hidden="true").fa.fa-users.icon
                    div.col-md-9.col-5
                        h3 393 939+
                        p I like this number.
