//-
  The Cover section.

section.cover.bg-primary.text-light
    include ../assets/sheep.svg

    div.container.text-right
        div.row
            div.col-7.offset-5
                h1 Learn How To Count Sheep for FREE!
                button.btn.btn-light.btn-lg Get Started!

    a#scroll-down-btn(href="#scroll-down-btn" role="button").btn.scroll-down-btn
        i(aria-hidden="true").fa.fa-arrow-circle-down.fa-4x
