//-
  The Footer.

footer.bg-dark
    div.container
        div.row
            div.col-lg-5.col-md-5.mb-md-0.mb-4
                h6 &copy; beautyfastcode - 2018
                hr
                p
                    | If you have any questions about this website,
                    br
                    | you may send e-mail out to us.

            div.col-lg-5.col-md-4
                h6 Contact
                hr
                p
                    i(aria-hidden="true").fa.fa-globe
                    span  BeautyFastCode.com
                p
                    i(aria-hidden="true").fa.fa-envelope
                    span  beautyfastcode@gmail.com

            div.col-lg-2.col-md-3.col-10.offset-md-0.offset-2
                ul.nav.flex-md-column.mt-4
                    li.nav-item
                        a.nav-link(href="#")
                            i(aria-hidden="true").fa.fa-paper-plane
                            span &nbsp; Get Started
                    li.nav-item
                        a.nav-link(href="#")
                            i(aria-hidden="true").fa.fa-shopping-basket
                            span &nbsp; Store
                    li.nav-item
                        a.nav-link(href="#") &nbsp;
                            i(aria-hidden="true").fa.fa-info
                            span &nbsp;&nbsp; About us

        div.feeds.text-center
            a(href="#")
                i(aria-hidden="true").fa.fa-2x.fa-globe
            a(href="#")
                i(aria-hidden="true").fa.fa-2x.fa-envelope-square
            a(href="#")
                i(aria-hidden="true").fa.fa-2x.fa-facebook-square
            a(href="#")
                i(aria-hidden="true").fa.fa-2x.fa-youtube-square
