//-
  The Friends section.

section.friends.text-center
    div.container
        h6 The 50 999+ animals love the sheep.
        h2 Some animals that love sheep.

        div.row
            - for(var i = 0; i < 18; i++) {
                div.tile-col
                    div.tile
                        p=i
            - }
