//-
  The Get Start section.

section.get-start.bg-dark.text-light
    div.container
        div.row
            div.col-md-2
                i(aria-hidden="true").fa.fa-user-circle-o.big-icon

            div.col-md-10
                h6 That is amazing.
                h2 Are you ready to Get Start?
                div.mb-3
                    p
                    | Ad at hic illo illum modi praesentium repudiandae sint sit.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                button.btn.btn-primary.btn-lg
                    i(aria-hidden="true").fa.fa-paper-plane
                    span  Learn more
