//-
  The Information section.

section.info.bg-white
    div.container
        div.row
            div.col-6
                h2 Lorem ipsum dolor sit amet?
                p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                | Assumenda at dolores eligendi nam nostrum omnis possimus quasi sapiente sunt voluptatem.

            div.col-6
                h2 Assumenda at dolores eligendi?
                p
                | Ad at hic illo illum modi praesentium repudiandae sint sit.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
