//-
  The main navigation bar.

    todo: if outside screen .fixed-top

nav.navbar.navbar-dark.bg-primary.navbar-expand-md
    a.navbar-brand(href="#")
        i(aria-hidden="true").fa.fa-home
        span  Hello, sheep!

    button.navbar-toggler(data-toggle="collapse" data-target="#navMainMenu"
            aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

    div#navMainMenu.collapse.navbar-collapse
        ul.navbar-nav.ml-auto

            li.nav-item.active
                a.nav-link(href="#")
                    i(aria-hidden="true").fa.fa-paper-plane
                    span  Get Started

            li.nav-item
                a.nav-link(href="#")
                    i(aria-hidden="true").fa.fa-shopping-basket
                    span  Store

            li.nav-item.dropdown
                a#navLanguageDropDown.nav-link.dropdown-toggle(href="#" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false")
                        i(aria-hidden="true").fa.fa-language
                        span  Language

                div.dropdown-menu(aria-labelledby="navLanguageDropDown")
                    a.dropdown-item(href="#")
                        i(aria-hidden="true").fa.fa-flag
                        span  English
                    a.dropdown-item(href="#")
                        i(aria-hidden="true").fa.fa-flag
                        span  Polish

            li.nav-item
                button.nav-link.btn.btn-light.btn-sm.text-dark.mr-2
                    i(aria-hidden="true").fa.fa-sign-in
                    span  Login
