//-
  The Friends section.

section.subscribe.text-center.bg-primary.text-light
    div.container
        h6 The fresh new sheep in every week.
        h2 Subscribe to receive more sheep.
        div.row
            div.col-6.offset-3
                form
                    div.row.outline
                        div.form-group.col-lg-8.col-md-12.mb-mb-4
                            input.form-control(type="email", placeholder="Your email address", aria-describedby="emailHelp")
                            small#emailHelp.form-text.text-muted We'll never share your email with anyone else.

                        div.col-lg-4.col-md-12
                            button.btn.btn-light
                                i(aria-hidden="true").fa.fa-paper-plane
                                span  Subscribe
