//-
  The index page.

doctype html
html(lang="en")
    head
        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

        // Custom google font
        link(href="fonts/woff.css", rel="stylesheet")

        // All styles, including Bootstrap CSS
        link(href="css/styles.css", rel="stylesheet")

        // Project title
        title Project Sheep!

    body
        include _navbar

        .container
            h1
                i(aria-hidden="true").fa.fa-home
                span  Hello, sheep!

        include _friends

        include _footer

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src="js/jquery.min.js")
    script(src="js/popper.min.js")
    script(src="js/bootstrap.min.js")
